:host {
  display: block;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-self: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 85px;
}

jt-ui-roster-table {
  width: 96%;
  max-width: 1250px;
  // min-width: 1000px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  position: fixed;
  top: 50px;
  width: 100%;
  background: var(--mat-sys-surface);
  z-index: 10;
}


.week {
  display: flex;
  align-items: center;
}