.jt-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  // background-color: var(--mat-sys-surface-container);
  // color: var(--mat-sys-on-surface);
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  height: 56px;
  box-sizing: border-box;
}

.link{
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.jt-nav .left,
.jt-nav .center,
.jt-nav .right {
  display: flex;
  align-items: center;
}

.jt-nav .center {
  flex: 1 1 auto;
  justify-content: center;
}

.logo {
  height: 36px;
  width: auto;
  display: block;
}

.title {
  font-weight: 600;
  font-size: 1.05rem;
}

.right-portal, .left-portal {
  min-width: 48px;
  justify-content: flex-end;
  gap: 8px;
}
.left-portal {
  justify-content: flex-start;
}

:host-context(.dark-mode) .jt-nav {
  background-color: var(--mat-sys-surface-container, #121212);
  color: var(--mat-sys-on-surface, #ffffff);
}