:host{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    padding-top: 60px;
    
}

jt-navbar {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 20;
    box-shadow: 0 2px 10px #0000001a;
}

.theming {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-left: auto;
    margin-right: 16px;
}


jt-choice-question-form{
  width: 95%;
  max-width: 800px;
}


jt-employee-form{
  width: 95%;
  max-width: 800px;
}