<!-- <div class="roster-table-wrap"> -->

  <table class="roster-table" role="table">
    <thead>
      <tr>
        <th class="name-col blank" scope="col"></th>
        @for (day of rosterDays(); track $index) {
          <th class="date-col" scope="col">{{ day.date | date:'EEE. MMM d' }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (employee of employees(); track $index) {
        <tr>
          <td class="name-col">
            <div class="name-cell">
                <div class="avatar"><jt-ui-icon [iconSizePx]="28">face</jt-ui-icon></div>
                <div class="employee-name">{{ employee.employeeName }}</div>
            </div>
          </td>

          @for (day of rosterDays(); track $index) {
            <td class="cell" >
              @if(getShifts(employee.employeeId, day.date).length) {
                @for (shift of getShifts(employee.employeeId, day.date); track $index) {
                <div class="shift" 
                    role="button" 
                    tabindex="0" 
                    (click)="edit(shift)" 
                    (keydown.enter)="edit(shift)" 
                    (keydown.space)="edit(shift)">
                  {{ shift.startTime | date:'shortTime' }} — {{ shift.endTime | date:'shortTime' }}
                </div>
                }
              } @else {
                <div class="empty"></div>
              }
            </td>
          }

        </tr>
      }
    </tbody>
  </table>

<!-- </div> -->
