:host {
  display: block;
  --divider-color: rgba(0, 0, 0, 0.06);
  // --divider-color: var(--mat-sys-outline);

  --cell-width: 160px;
  --cell-min-width: 130px;
  background: rgba(250, 235, 215, 0.168);
  width: 100%;
  box-sizing: border-box;
}

.jt-roster-table {
  display: flex;
  flex-direction: column;
  // gap: 8px;
  // width: 100%;
}

.header-row,
.row {
  display: flex;
  align-items: stretch;
}

.name-col {
  width: var(--cell-width, 200px);
  min-width: var(--cell-min-width);
  padding: 16px 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  // gap: 8px;
  border-bottom: 1px solid var(--divider-color, rgba(0, 0, 0, 0.06));
  background: var(--mat-sys-surface, #fff);
}

.name-col.blank {
  border-bottom: none;
  border-bottom: 1px solid var(--divider-color, rgba(0, 0, 0, 0.06));
}

.dates {
  display: flex;
  flex: 1 1 auto;
  border-bottom: 1px solid var(--divider-color, rgba(0, 0, 0, 0.06));
}

.date-col {
  width: var(--cell-width, 200px);
  min-width: var(--cell-min-width);
  flex: 1 0 130px;
  padding: 16px 12px;
  text-align: center;
  border-left: 1px solid var(--divider-color, rgba(0, 0, 0, 0.06));
  box-sizing: border-box;
  font-weight: 600;
}

.cells {
  display: flex;
  flex: 1 1 auto;
}

.cell {
  width: var(--cell-width, 200px);
  min-width: var(--cell-min-width);
  flex: 1 0 150px;
  padding: 6px 12px;
  border-bottom: 1px solid var(--divider-color, rgba(0, 0, 0, 0.06));
  border-left: 1px solid var(--divider-color, rgba(0, 0, 0, 0.06));
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shift {
  font-size: 0.75rem;
  text-align: center;
}

.empty {
  height: 1.2rem;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--mat-sys-secondary-container, #f2f2f2);
  margin-right: 8px;
}

.employee-name {
  font-weight: 600;
}


:host-context(.dark-mode) {
  --divider-color: rgba(255, 255, 255, 0.12);
}